html {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background:linear-gradient(to right, rgb(28, 73, 43) 30%, rgb(94, 13, 126));
}
body{
  margin: 0;
  padding: 0;
}
h2{
  margin-bottom: 40px;
  text-align: center;
}
.calculator{
  margin: 10px auto;
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.822);
  background-color: rgb(41, 21, 22);
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.screen{
  margin: 0;
  padding: 0;
  border: 1px solid rgb(189, 203, 214);
  background-color: rgba(139, 104, 47, 0.342);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.screen p{
  margin: 0;
  padding: 10px;
  color: antiquewhite;
  font-size: x-large;
  height: 60px;
}
.buttons{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
button{
  margin: 0;
  padding: 0;
  height: 70px;
  font-size: 35px;
  border: 1px solid rgb(189, 203, 214);
  border-radius: 8px;
  background-color: rgb(129, 102, 60);
  inset-inline: none;
  transition: all 0.3s;
}
button:hover{
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(189, 203, 214);
}
button:active{
  box-shadow:1px 1px 50px 6px rgba(189, 203, 214, 0.46);
  transform: scale(1.1);
}
.clear,
.delete{
  grid-column-start: span 2;
}